build/
build/generated
build_cemu/
build_switch/
build_wiiu/
deploy/
*.s
*.bin
*.elf
*.o
*.obj
.DS_Store
tools/ring_log_reader/*.exe
tools/ring_log_reader/build_log.txt
tools/cam_finder/
tools/symbol_port/*.json
tools/symbol_port
scratch
mystufflol/
scripts/__pycache__/